.big__button{
  padding: 25px 70px;
}
.small__button{
  padding: 12px 60px;
}
.fill__button{
  border: none;
  background-color: var(--color-ocher);
  color: white;
  font-weight:800;
  letter-spacing: 2px;
}
