.cart{
  padding: var(--padding-container);
  display: flex;
  justify-content: center;
  gap: var(--gap-l);
  &__products{
    &__table{
      &__thead{
        background-color: var(--color-light-beige);
        &__td{
          padding: var(--padding-s);
          font-weight: 600;
        }
      }
      &__tbody{
        &__td{
          padding: var(--padding-s);
        }
      }
    }
  }
  &__gray{
    color: var(--color-light-gray);
  }
  &__number{
    border-radius: 5px;
    padding: 5px 10px;
    border: gray solid 1px;
  }
  &__total{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    padding: var(--padding-l);
    background-color: var(--color-light-beige);
    &__title{
      margin-bottom: var(--padding-m);
    }
    &__text{
      &__price1{
        color: var(--color-light-gray);
        margin-left: var(--padding-m);
      }
      &__price2{
        color: var(--color-ocher);
        font-size: var(--font-s);
        margin-left: var(--padding-m);
      }
    }
    &__button{
      background-color: var(--color-light-beige);
      border: 1px solid black;
      margin-top: var(--padding-m);
    }
  }

}