.discover{
  background-image: url("../images/discover-background.webp");
  background-size: cover;
  background-position:center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--padding-block);
  margin-bottom: 26px;
  &__block{
    background-color: var(--color-beige);
    padding: var(--padding-m);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    align-items: start;
    width: 650px;
    &__discover__block__title{
      font-size: var(--font-h1);
      color: var(--color-ocher);
      font-weight: 800;
    }
    &__button{
      margin-top: 30px;
    }
  }
}