.products{
    margin: var(--padding-xl) 0;;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-m);
    &__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--gap-m);
        &__button1, &__button2, &__button3{
            font-weight: 400;
            font-size: var(--font-s);
        }
        &__button3{
            width: 98px;
        }
    }
}
.product__card{
    background-color: var(--color-lighter-gray);
    width: min-content;
    position: relative;
    text-decoration: none;
    &__mark{
        position: absolute;
        top: 24px;
        right: 24px;
        width:50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
    }
    &__block{
        padding: var(--padding-s);
        display: grid;
        gap: var(--gap-xs);
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__current{
                font-size: var(--font-s);
                color: var(--color-dark-gray);
                font-weight: bold;
            }
            &__past{
                color: var(--color-light-gray);
                text-decoration: line-through;
            }
        }
    }
    &__animation{
        display: flex;
        position: absolute;
        top: 175px;
        left: 30px;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-m);
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 2;
        &__button{
            background-color: white;
            &__button{
                background: none;
                border: none;
                color: var(--color-ocher);
                font-weight: 600;
            }
        }
        &__block{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            gap: var(--gap-s);
            &__link{
                &__share::before{
                    content: url("../images/share2.webp");
                    margin-right: 5px;
                }
                &__like::before{
                    content: url("../images/like.webp");
                    margin-right: 5px;
                }
                &__compare::before{
                    content: url("../images/arrows.webp");
                    margin-right: 5px;
                }

                &__share{
                    color: white;
                    font-weight: 600;
                }
                &__like{
                    color: white;
                    font-weight: 600;
                }
                &__compare{
                    color: white;
                    font-weight: 600;

                }
            }
        }
    }
}
.product__card {

    cursor: pointer;

    &:hover {
        .product__card__black {
            filter: brightness(50%);
            background-color: rgba(0,0,0,0.5);
            transition: all 0.3s ease;
        }
        .product__card__animation {
            opacity: 1;
        }
    }
}

.sale{
    background-color: #e97171;
}
.new{
    background-color: #2ec1ac;
}