:root{
  // размеры шрифтов
  --font-logo: 34px;
  --font-xs: 16px;
  --font-s: 20px;
  --font-h1:52px;

  // отступы блоков
  --padding-block: 30px 50px;
  --padding-s:16px;
  --padding-m:32px;

  --gap-xs: 8px;
  --gap-s: 16px;
  --gap-m: 32px;
  --gap-l: 46px;


  // цвета
  --color-ocher:#b88e2f;
  --color-beige:#fff3e3;
  --color-dark-gray:#3a3a3a;
  --color-gray:#616161;
  --color-light-gray:#9f9f9f;

  //углы
  --border-radius:10px;













  ///**  Отступы  */
  //--gap-xl: 20px;
  //--gap-l: 15px;
  //
  //--padding-block: 20px;
  //--padding-inline: 20px;
  //
  ///**  Скругления углов  */
  //--border-radius-default: 20px;
  //
  ///**  Основные цвета */
  //--main-color: #e3e3e3;
  //
  ///**  Шрифты */
  //--font-family-title: "Open Sans";
}