:root{
  // размеры шрифтов
  --font-logo: 34px;
  --font-xs: 16px;
  --font-s: 20px;
  --font-h1:52px;
  --font-h2:32px;
  --font-h3:24px;

  // отступы блоков
  --padding-block: 30px 50px;
  --padding-container: 30px 126px;
  --padding-s:16px;
  --padding-m:24px;
  --padding-l:32px;
  --padding-xl: 64px;

  --gap-xs: 8px;
  --gap-s: 16px;
  --gap-m: 24px;
  --gap-l: 32px;
  --gap-xl: 46px;

  // цвета
  --color-ocher:#b88e2f;
  --color-beige:#fff3e3;
  --color-light-beige:#FCF8F3;
  --color-dark-gray:#3a3a3a;
  --color-gray:#666666;
  --color-light-gray:#9f9f9f;
  --color-lighter-gray: #f4f5f7;

  //углы
  --border-radius:10px;













  ///**  Отступы  */
  //--gap-xl: 20px;
  //--gap-l: 15px;
  //
  //--padding-block: 20px;
  //--padding-inline: 20px;
  //
  ///**  Скругления углов  */
  //--border-radius-default: 20px;
  //
  ///**  Основные цвета */
  //--main-color: #e3e3e3;
  //
  ///**  Шрифты */
  //--font-family-title: "Open Sans";
}