*{
  font-family: "Poppins", sans-serif;
  font-size: var(--font-xs);
}

h1{
  font-size: var(--font-h1);
  font-weight: 400;
}
h2{
  font-size: var(--font-h2);
  color: var(--color-dark-gray);
}
h3{
  color: var(--color-dark-gray);
  font-size: var(--font-h3);
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}


.description{
  color: var(--color-light-gray);
  font-weight: 600;
}
.info{
  color: var(--color-gray);
  font-weight: 600;
}
.comment{
  color: var(--color-dark-gray);
  font-weight: 600;
}
.notice{
  color: var(--color-dark-gray);
  letter-spacing:3px;
  font-weight: 600;
}