<img src="@@img.webp" alt="@@alt" class="comparison__table__block__img">
<h3 class="comparison__table__block__title">@@title</h3>
<span class="comparison__table__block__price">@@price</span>
<div class="comparison__table__block__block">
    <span class="comparison__table__block__block__rate">@@rate</span>
    <img src="./assets/images/stars.webp" alt="" class="comparison__table__block__block__stars">
    <img src="./assets/images/line.webp" alt="" class="comparison__table__block__block__line">
    <span class="comparison__table__block__block__review">@@review Review</span>
</div>