<section class="discover">
  <div class="discover__block">
    <span class="discover__block__notice notice">New Arrival</span>
    <h1 class="discover__block__title">Discover Our<br>New Collection</h1>
    <p class="discover__block__description comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
    @@include('./_button.html',{
    "class": "discover__block__button big__button fill__button",
    "text": "BUY NOW",
    })
  </div>
</section>