<footer class="footer">
    <div class="footer__links">
        <div class="footer__links__block">
            <span class="footer__links__block__logo">Funiro.</span>
            <p class="footer__links__block__text description">
                400 University Drive Suite 200 Coral Gables,<br>
                FL 33134 USA
            </p>
        </div>
        <div class="footer__links__block">
            <span class="footer__links__block__title description">Links</span>
            <a href="" class="footer__links__block__link">Home</a>
            <a href="" class="footer__links__block__link">Shop</a>
            <a href="" class="footer__links__block__link">About</a>
            <a href="" class="footer__links__block__link">Contact</a>
        </div>
        <div class="footer__links__block">
            <span class="footer__links__block__title description">Help</span>
            <a href="" class="footer__links__block__link">Payment Options</a>
            <a href="" class="footer__links__block__link">Returns</a>
            <a href="" class="footer__links__block__link">Privacy Policies</a>
        </div>
        <div class="footer__links__block">
            <span class="footer__links__block__title description">Newsletter</span>
            <form action="" class="footer__links__block__form">
                <div class="footer__links__block__form__block">
                    <input type="email" name="footer__email" id="footer__email" placeholder="Enter Your Email Address" class="footer__links__block__form__block__input">
                    <label for="footer__email" class="footer__links__block__form__block__label"></label>
                </div>
                <div class="footer__links__block__form__block">
                    <button type="submit" name="footer__button" id="footer__button" class="footer__links__block__form__block__button">SUBSCRIBE</button>
                    <label for="footer__button" class="footer__links__block__form__block__label"></label>
                </div>
            </form>
        </div>
    </div>
    <span class="footer__copyright">
        2023 furino. All rights reverved
    </span>
</footer>