<div class="product__card">
    <div class="product__card__black">
        <span class="@@mark product__card__mark">@@markText</span>
        <img src="@@img.webp" alt="@@alt" class="product__card__img">
        <div class="product__card__block">
            <h3 class="product__card__block__h3">@@title</h3>
            <span class="product__card__text info">@@info</span>
            <div class="product__card__block__inner">
                <span class="product__card__block__inner__current">@@current</span>
                <span class="product__card__block__inner__past">@@past</span>
            </div>
        </div>
    </div>
    <div class="product__card__animation">
        <a href="./product.html" class="product__card__animation__button long__button">
            <button class="product__card__animation__button__button">
                Add to cart
            </button>
        </a>
        <div class="product__card__animation__block">
            <a href="" class="product__card__animation__block__link__share">Share</a>
            <a href="" class="product__card__animation__block__link__compare">Compare</a>
            <a href="" class="product__card__animation__block__link__like">Like</a>
        </div>
    </div>
</div>