<div class="product__card">
    <span class="@@mark product__card__mark">@@markText</span>
    <img src="@@img.webp" alt="@@alt" class="product__card__img">
    <div class="product__card__block">
        <h3 class="product__card__block__h3">@@title</h3>
        <span class="product__card__text info">@@info</span>
        <div class="product__card__block__inner">
            <span class="product__card__block__inner__current">@@current</span>
            <span class="product__card__block__inner__past">@@past</span>
        </div>
    </div>
</div>